<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/clean-code-challenge.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level	%logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/clean-code-challenge.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>3</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>

	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level	%logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
	<logger name="javax.management" additivity="false" level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" additivity="false" level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache" additivity="false" level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="clean.code.challenge" additivity="false" level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>